/* This css file contains global style that can be used by all components */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Images are always scaled to occupy available space, so use external divs to change size */
img {
    width: 100%;
    height: 100%;
}