/* For all sizes*/
.highlight-card {
    padding: 0;
    display: inline-block;
}

.highlight-card-body{
    background-color:#700730;
}

.highlight-card-content {
    font-weight: 700;
}

.highlight-card-button{
    aspect-ratio: 1 / 1;
    background-color: white;
    color: black;
    border-radius:50%;
    border-color: #ffffff;
}

.highlight-card-button:hover{
    border-color: #ffffff;
}

/* For Small Display */
@media only screen and (min-width: 768px) {
    .highlight-card {
        width: 90%;
        margin-right: 2% 4% 2% 0;
    }

    .highlight-card-body {
        padding: 12%;
    }

    .highlight-card-content {
        font-size: 56px;
        color: white;
    }

    .highlight-card-button {
        height: 160px;
        font-size: 48px;
        margin: 20% 0 0 0;
    }
}

/* For Large Display */
@media only screen and (min-width: 1200px) {
    .highlight-card {
        width: 30%;
        margin: 1% 2% 1% 0;
    }

    .highlight-card-body {
        padding: 8%;
    }

    .highlight-card-content {
        font-size: 24px;
        color: white;
    }

    .highlight-card-button {
        height: 55px;
        font-size: 16px;
        margin: 16% 0 0 0;
    }
}