/* For all screen sizes */
.card3{
    display: inline-block;
    position: relative;
}

.card3 > button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color:#ffffff;
    font-weight: bold;
    padding: 4% 8% 4% 8%;
}

/* For small displays */
@media only screen and (min-width: 768px) {
    .card3{
        display: inline-block;
        width: 75%;
        margin: 10% 2% 10% 2%;
    }

    .card3 > button {
        font-size: 34px;
    }
}

/* For large displays */
@media only screen and (min-width: 1200px) {
    .card3{
        display: inline-block;
        width: 20%;
        margin: 4% 1% 4% 1%;
    }

    .card3 > button {
        font-size: 12px;
    }
}