a {
  font-family: "Noto Sans";
  color: black;
  text-decoration: none;
}

header {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.menu-btn {
  display: none;
}

.menu-nav-container {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-areas: "menu nav nav nav nav nav nav nav nav nav nav nav nav";
  padding-top: 0.79rem;
  padding-left: 1.25rem;
  padding-right: 4.55rem;
}

.nav-container {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #dfdfdf;
}

.nav-container .logo {
  width: 90px;
  height: 36px;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.nav-container nav {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  margin-left: 2.95rem;
  white-space: nowrap;
}

.nav-container nav ul {
  padding: 0;
  margin: 0 0 2px 0;
}

.nav-container nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 26px;
}

.nav-container nav li:hover {
  text-decoration: underline;
}

.search-container {
  width: 100%;
}

.search {
  font-family: "Noto Sans";
  font-size: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50em;
  width: 100%;
  height: 54px;
  padding: 0.8125rem 3.375rem 0.8125rem 3.6rem;
  margin-left: 21px;
  outline: 0;
  background-color: #f5f5f5;
  background-image: url(img/search-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 1.4rem;
}

.search:hover {
  background-color: #e2e2e2;
  transition-duration: 0.2s;
}

.search:focus {
  border: 2px solid #1f599e;
  background-color: white;
  transition-duration: 0s;
}

nav.icons-nav {
  padding-top: 4px;
  margin-left: 126px;
  display: flex;
}

.icons-nav svg {
  background-color: transparent;
  border-radius: 100%;
  padding: 8px;
  margin-left: 8px;
  box-sizing: content-box;
}

.icons-nav svg:hover {
  background-color: #f5f5f5;
  transition-duration: 0.1s;
}
.navheader {
  display: inline;
}

@media screen and (max-width: 1200px) {
  .hnf-link {
    display: none;
  }
  .menu-float {
    display: none;
  }
  .truck {
    display: none;
  }
  .menu-btn {
    display: inline;
  }
}

@media screen and (max-width: 800px) {
  .nav-container {
    flex-wrap: wrap;
  }
  .ikea-logo-img {
    width: 80px;
    margin-bottom: 10px;
  }
  .search {
    height: 40px;
  }
  .icons-nav {
    position: fixed;
    top: 10px;
    right: 40px;
  }
}

.menu-float {
  position: fixed;
  background-color: transparent;
  border-radius: 100%;
  padding: 18px;
  margin-left: 10px;
  box-sizing: content-box;
  border-radius: 50px;
  text-align: center;
}

.menu-float > svg:hover {
  background-color: #f5f5f5;
  transition-duration: 0.1s;
}

.chat-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: green;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-chat-float {
  margin-top: 22px;
}
