/* SHOWCASE BUTTONS */
/* This the collection of different showcase filter button */
.showcase-buttons {
    overflow: auto;
    white-space: nowrap;
}

/* FILTER BUTTON */
/* This is each filter button for filtering out products from showcase */
.filter-button {
    display: inline-block;
    background-color: rgb(245, 245, 245);
}

/* For medium display */
@media only screen and (min-width: 768px) {
    .filter-button {
        font-size: 28px;
        font-weight: 700;
        border-radius: 50px;
        height: 5%;
        padding: 0 8% 0 8%;
        margin: 5% 2% 5% 2%;
    }
}

/* For large display */
@media only screen and (min-width: 1200px) {
    .filter-button {
        font-size: 13px;
        font-weight: 700;
        border-radius: 50px;
        height: 6%;
        padding: 0 2% 0 2%;
        margin: 1%;
    }
}

/* IMG CARD */
/* This represents a div that holds a single image of the large image grid */
.img-card {
    aspect-ratio: 1 / 1.25;
}

/* For medium display */
@media only screen and (min-width: 768px) {
    .img-card {
        padding: 2%;
    }
}

/* For large display */
@media only screen and (min-width: 1200px) {
    .img-card {
        padding: 1%;
    }
}

/* SHOWCASE CONTROLS */
#showcase-controls {
    width: 100%;
    text-align: center;    
}

/* For medium display */
@media only screen and (min-width: 768px) {
    #showcase-controls {
        margin: 80px 0 80px 0;
    }
}

/* For large display */
@media only screen and (min-width: 1200px) {
    #showcase-controls {
        margin: 20px 0 20px 0;
    }
}

/* SHOW MORE BUTTON */
#show-more-btn {
    background-color: rgb(17, 17, 17);
}

#show-more-btn:hover {
    background-color: rgb(51, 51, 51);
}

/* For medium display */
@media only screen and (min-width: 768px) {
    #show-more-btn {
        font-size: 40px;
        font-weight: 700;
        color: white;
        border-radius: 50px;
        height: 6%;
        padding: 0 8% 0 8%;
    }
}

/* For large display */
@media only screen and (min-width: 1200px) {
    #show-more-btn {
        font-size: 14px;
        font-weight: 700;
        color: white;
        border-radius: 50px;
        height: 6%;
        padding: 0 2% 0 2%;
    }
}