<!DOCTYPE html>
<html>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="COUNT.CSS">
<link rel="stylesheet" href="card1.css">

<head>
  <title>
    Making a div horizontally
    scrollable using CSS
  </title>

</head>

<body>

  <div class="scroll">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="card1.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-content">Content of the card.</h6>
            <div class="btn">
              <button class="fas fa-arrow-right" id="arrow"></button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>

</body>

</html>